.rootBox {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(135deg, #f2f0f600, #e7dcf6c1);
}

.card,
.forgotPassword-card,
.signUp-card {
  width: 100% !important;
  max-width: 500px;
  border-radius: 24px !important;
  background-color: #ffffff !important;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card {
  margin: 1rem auto;
}

.card:hover,
.forgotPassword-card:hover,
.signUp-card:hover {
  box-shadow: 0 10px 40px rgba(53, 10, 134, 0.2) !important;
}

.title {
  text-align: center;
  color: #5119B7;
  letter-spacing: 1px !important;
  font-weight: bold !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.forgotPassword {
  color: #5119B7 !important;
  text-align: right;
  cursor: pointer;
  transition: color 0.2s ease;
}

.forgotPassword:hover {
  color: #320881 !important;
}

.forgotPassword-text {
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.loginBtn,
.resetBtn,
.signupBtn,
.registerBtn,
.clearBtn {
  font-weight: bold !important;
  border-radius: 50px !important;
  transition: background-color 0.3s ease;
}

.loginBtn,
.resetBtn,
.registerBtn {
  background-color: #5119B7 !important;
  color: white !important;
}

.loginBtn:hover,
.resetBtn:hover,
.registerBtn:hover {
  background-color: #3b059d !important;
  color: rgb(243, 240, 250) !important;
  border-color: #3b059d !important;
  box-shadow: 0 4px 12px rgba(54, 10, 134, 0.4) !important;
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

.loginBtn:active,
.resetBtn:active,
.registerBtn:active {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}

.signupBtn,
.clearBtn {
  border-color: #5119B7 !important;
  color: #5119B7 !important;
  background-color: transparent;
}

.signupBtn:hover,
.clearBtn:hover {
  background-color: #3b059d;
  color: rgb(243 240, 250) !important;
  box-shadow: 0 4px 12px rgba(54, 10, 134, 0.4);
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

.signupBtn:active,
.clearBtn:active {
  box-shadow: inset 0 3px 6px rgba(54, 10, 134, 0.4);
  transform: scale(0.97);
}

.image {
  box-shadow: 0 6px 18px rgba(119, 81, 181, 0.24);
  border-radius: 50%;
}

.login-field .MuiInput-underline:hover:before,
.login-field .MuiInput-underline:after {
  border-bottom-color: #5119B7 !important;
}

.login-field .MuiInputLabel-root.Mui-focused,
.login-field:hover .MuiInputLabel-root {
  color: #5119B7 !important;
}

.login-icon-button {
  color: #5119B7 !important;
}